.footer {
  background-color: #c4c4c4;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.boxfooter {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: center;
  align-items: center;
}

.ig {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  gap: 2rem;
}

.ig a {
  font-size: 16px;
  color: black;
  padding-bottom: 30px;
}

.wpp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  gap: 2rem;
}

.wpp a {
  font-size: 20px;
  color: black;
}

.fb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.fb a {
  font-size: 20px;
  color: black;
}

.fb a img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  gap: 2rem;
}

.rights {
  font-size: 18px;
  color: black;
  padding-top: 70px;
  text-align: center;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .boxfooter {
    flex-direction: row;
  }
}
