body {
  font-family: "Roboto", sans-serif;
  background-image: url(../../assets/images/fondo.jpg);
}

.container-header {
  background-color: #323232;
  width: 100%;
  height: 188px;
  display: flex;
}

.h1-title {
  color: #e3ec39;
  font-size: 60px;
  font-weight: bold;
  padding-left: 50px;
  padding-top: 80px;
}

.container-logo img {
  width: 170px;
  height: 180px;
  padding-left: 10px;
  display: flex;
}

.login-word {
  color: #323232;
  font-size: 20px;
  font-weight: bold;
  padding-top: 9px;
}

.box-login-button {
  background-color: #e3ec39;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  margin-top: 80px;
  margin-left: 450px;
  text-align: center;
}

.box-login-button img {
  height: 25px;
  width: 25px;
  padding-left: 25px;
  padding-top: 5px;
}

.signUp-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  background-color: #d9d9d9;
  opacity: 90%;
  width: 1012px;
  height: 405px;
  margin-top: 150px;
  border-radius: 20px;
}

.form-signUp {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 30px;
}

.label-input {
  display: flex;
  flex-direction: column;
}

input {
  width: 260px;
  border-radius: 12px;
  height: 35px;
}

.accept-button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.accept-button button {
  background-color: #e3ec39;
  width: 133px;
  height: 47px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

.green-border {
  border: 4px solid greenyellow;
}

.red-border {
  border: 4px solid red;
}

#textValidationEmail,
#textValidationPassword,
#textValidationName,
#textValidationLastname,
#textValidationDate,
#textValidationPhone,
#textValidationLocation,
#textValidationPostalCode,
#textValidationRepeatPassword,
#textValidationDNI,
#textValidationAdress {
  display: none;
  color: #e40202;
  margin-top: 1px;
}
