body {
  font-family: "Roboto", sans-serif;
  background-color: #666666;
}

.h2whi {
  color: white;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.h2ye {
  color: #e3ec39;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.featu {
  color: #ffffff;
  font-size: 55px;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
}

.res {
  color: #e3ec39;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-left: 120px;
}

.h4activ {
  color: #ffffff;
  font-size: 40px;
  font-weight: lighter;
  margin-top: 40px;
}
