.container-main {
  background-color: #535353;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.containerall {
  display: flex;
  flex-direction: column;
}

.main2 {
  font-size: 100px;
  background-image: url("../../assets/images/dont.jpg");
  background-repeat: no-repeat;
  padding: 50px 0 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.pmain {
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  width: 60%;
}

.containerhome2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-boxes-features {
  color: #e3ec39;
  font-size: 35px;
  text-align: center;
}

.white-paragraph-letters {
  color: #ffffff;
  font-size: 20px;
  line-height: 40px;
  margin-top: 20px;
}

.reservation {
  background-image: url("../../assets/images/reservations.png");
  border-radius: 30px;
  background-size: cover;
  width: 250px;
  height: 150px;
  color: #ffffff;
  padding: 40px;
  margin: 20px;
  text-align: center;
}

.membership {
  background-image: url("../../assets/images/membership.png");
  border-radius: 30px;
  background-size: cover;
  width: 250px;
  height: 150px;
  color: #ffffff;
  padding: 40px;
  margin: 20px;
  text-align: center;
}

.schedule {
  background-image: url("../../assets/images/schedule.png");
  border-radius: 30px;
  background-size: cover;
  width: 250px;
  height: 150px;
  color: #ffffff;
  padding: 40px;
  margin: 20px;
  text-align: center;
}

.contact-and-suggestions {
  background-image: url("../../assets/images/contact.jpg");
  border-radius: 30px;
  background-size: cover;
  width: 250px;
  height: 150px;
  color: #ffffff;
  padding: 40px;
}

.container-contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-contact-us {
  border-radius: 30px;
  background-color: #fff;
  width: 350px;
  height: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-us {
  line-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttoms {
  margin: 10px 20px;
  float: right;
}

.send {
  background-color: #e3ec39;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  width: 65px;
  height: 30px;
  font-weight: bold;
}

.box4 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.activities-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h4-activities {
  color: #ffffff;
  font-size: 40px;
  line-height: 50px;
  margin-top: 20px;
  text-align: center;
}

.cross {
  background-image: url("../../assets/images/cross.png");
  background-size: cover;
  border-radius: 30px;
  background-size: cover;
  width: 240px;
  height: 120px;
  color: #ffffff;
  padding: 60px;
  margin-bottom: 15px;
}

.box {
  background-image: url("../../assets/images/boxeo.png");
  background-size: cover;
  border-radius: 30px;
  margin-bottom: 15px;
  width: 240px;
  height: 120px;
  color: #ffffff;
  padding: 60px;
}

.funct {
  background-image: url("../../assets/images/funct.png");
  background-size: cover;
  border-radius: 30px;
  width: 240px;
  height: 120px;
  color: #ffffff;
  padding: 60px;
  margin-bottom: 15px;
}

.spinn {
  background-image: url("../../assets/images/spinn.png");
  background-size: cover;
  border-radius: 30px;
  width: 240px;
  height: 120px;
  color: #ffffff;
  padding: 60px;
  margin-bottom: 15px;
}

.fitn {
  background-image: url("../../assets/images/fitnn.png");
  background-size: cover;
  border-radius: 30px;
  width: 240px;
  height: 120px;
  color: #ffffff;
  padding: 60px;
}

.box4 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.title {
  color: #e3ec39;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

.text {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.text2 {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

.flexmember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.only {
  background-image: url("../../assets/images/only.jpg");
  background-size: cover;
  border-radius: 30px;
  width: 240px;
  height: 260px;
  color: #ffffff;
  padding: 60px;
  margin-bottom: 15px;
}

.classic {
  background-image: url("../../assets/images/classiccc.png");
  background-size: cover;
  border-radius: 30px;
  width: 240px;
  height: 260px;
  color: #ffffff;
  padding: 60px;
  margin-bottom: 15px;
}

.black {
  background-image: url("../../assets/images/black.png");
  background-size: cover;
  border-radius: 30px;
  width: 240px;
  height: 260px;
  color: #ffffff;
  padding: 60px;
  margin-bottom: 15px;
}

.container-our-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ourst {
  background-color: #e0e0e0;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 270px;
  height: 180px;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .main-aside {
    display: flex;
    justify-content: space-between;
    width: 20%;
    background-color: #d5dd3c;
    color: #000000;
    opacity: 90%;
  }

  .main2 {
    height: 1150px;
  }
}

@media screen and (min-width: 1024px) {
  .containerall {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .container-main {
    display: flex;
    flex-direction: row;
  }

  .main2 {
    background-image: url("../../assets/images/Group85.png");
    height: 800px;
  }

  .container-aside {
    background-color: #d5dd3c;
    width: 20%;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .container-sidebar li {
    list-style: none;
    text-align: center;
    padding-top: 50px;
  }

  .container-sidebar li a {
    text-decoration: none;
    color: black;
  }

  .containerhome2 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .form-contact-us {
    border-radius: 30px;
    background-color: #ffffff;
    width: 600px;
    height: 425px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .contact-us {
    line-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .send {
    background-color: #e3ec39;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    width: 65px;
    height: 30px;
    font-weight: bold;
  }

  .box1 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .box2 {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .container-our-story {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .ourstory {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ourst {
    background-color: #e0e0e0;
    font-size: 20px;
    border-radius: 10px;
    width: 600px;
    height: 120px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .container-aside {
    display: none;
  }
}
