body {
  font-family: "Roboto", sans-serif;
  background-image: url(../../assets/images/fondo.jpg);
}

.container-header {
  background-color: #323232;
  width: 1512px;
  height: 188px;
  display: flex;
}

.h1-title {
  color: #e3ec39;
  font-size: 70px;
  font-weight: bold;
  padding-left: 50px;
  padding-top: 80px;
}

.container-logo img {
  width: 170px;
  height: 180px;
  padding-left: 10px;
  display: flex;
}

.box-login {
  background-color: #e3ec39;
  opacity: 90%;
  width: 560px;
  height: 459px;
  border-radius: 25px;
  display: flex;
  margin-left: 470px;
  margin-top: 100px;
  justify-content: center;
  flex-direction: column;
}

.h2-login {
  font-size: 30px;
  text-align: center;
  line-height: 100px;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

input {
  width: 260px;
  height: 37px;
  border-radius: 12px;
}

.forgot button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 35px;
  margin-right: 80px;
}

.enter button {
  background-color: #373867;
  color: #e3ec39;
  font-weight: bold;
  font-size: 16px;
  width: 105px;
  height: 38px;
  border-radius: 10px;
}
